[submodule "third_party/slang"]
	path = third_party/slang
	url = https://github.com/povik/slang.git
[submodule "tests/third_party/yosys"]
	path = tests/third_party/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "tests/third_party/croc"]
	path = tests/third_party/croc
	url = https://github.com/pulp-platform/croc.git
